<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-styles') %>
        <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
    <main>
        <div class="confirm-box" style="text-align: start;">
            <h4>Reset Password</h4>


            <form action="/resetpass" id="passwordForm" method="post">
                <label for="password">Password:</label><br>
                <input class="default-input" type="password" id="password" name="password" required
                    pattern="^(?!.*\s)(?=.*[A-Za-z0-9]).{6,}$">
                  <br>

                <label for="confirmPassword">Confirm Password:</label><br>
                <input class="default-input" type="password" id="confirmPassword" name="confirmPassword" required>
                 <br>

                
                <div class="submit-btn text-center">
                    <p id="err" class="error-message"><%= locals.msg %></p>
                    <input class="default-button" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer')%>
        <%- include('../partials/bootstrap-script') %>
        <script>
            const password = document.getElementById('password')
            const confirmPassword = document.getElementById('confirmPassword')
            const err = document.getElementById('err')

            const form = document.getElementById('passwordForm')
            form.addEventListener('submit',(e)=>{
                if(password.value !== confirmPassword.value){
                    e.preventDefault()
                    err.textContent = 'second password doesnot match as first'
                }
            })


        </script>
</body>

</html>