<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-styles') %>
        <link rel="stylesheet" href="/style.css">
        <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
    <div class=" container-fluid single-product-main p-0">
        <div class="back-button">
            <a href="/"><i class="bi bi-arrow-left-short"></i></a>
        </div>
        <div class="product-container">
            <div class="product-images">
                <div class="main-image"><img onclick="sayHai()" id="main" src="<%= locals.product[0].productImg[0] %>"
                        alt=""></div>
                <div class="child-images">

                    <% for (let i=1; i< locals.product[0].productImg.length ;i++) { %>
                        <div class="">
                            <img id="child<%= i %>" style="width: 100%; height: 100%; object-fit: cover;"
                                onclick="swap(this.id)" src="<%= locals.product[0].productImg[i] %>" alt="">
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="product-details">
                <div class="product-details-inner">
                    <h1 class="my-3">
                        <%= locals?.productName %>
                    </h1>
                    <h2 class="ind-rs my-3"> <span><%= locals.product[0].productPrice %></h2>
                    <div class="del"><h3 class="ind-rs" style="color: black;"><%= Number(locals.product[0].productPrice) + 1000 %></h3></div>
                    <p class="my-2 w-75">
                        <%= locals.product[0].productDescription %>
                    </p>
                    <p>category : <span>
                            <%= locals.product[0].category[0].categoryName %>
                        </span></p>


                    <div class="weight-scale d-flex">
                        <div>1</div>
                        <div>5</div>
                        <div>10</div>
                    </div>

                    <div class="buttons">
                        <input class="py-1 ps-4"  type="number" min="1" value="1" style="width: 4rem;">
                        <input class="default-button" onclick="addToCart('<%= locals.product[0].product_id %>')" type="button" value="Add to cart" >
                        <input  class="default-button" type="button" value="Buy Now" style="background-color: #fff; border: 2px solid #002442; color:#002442 ;">
                    </div>


                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/bootstrap-script') %>
        <script src="/scripts/products.js"></script>
        <script src="/scripts/zoom.js"></script>
        <script src="/scripts/zoomsl.js"></script>
        <script defer src="/scripts/add_to.js"></script>
</body>

</html>